{% extends 'base.html' %} {% block content %} {% load static %}

<!-- card section -->
<h1 class="title text-center bg-primary m-auto p-3 justify-content-center align-items-center"> Our Food items</h1>
<div class="service-container row container m-auto">
    {% for i in categories %}
  <div class="box col-md-4 mb-2">
    <div class="card text-center p-3 border-0" style="width: 18rem">
        <!-- <h5 class="card-title"> item {{i.idCategory}}</h5> -->
      <img class="img-fluid w-50 m-auto" src="{{i.strCategoryThumb}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{i.strCategory}}</h5>
        <p class="card-text">
         <!-- {{i.strCategoryDescription}} -->
         {{i.strCategoryDescription | truncatewords:10}}
        </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
