{% extends "base.html" %}
{% block content %}
    <div class="container m-auto p-3 w-50">
        <form method = "POST", action = "/about/">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">User Name</label>
                <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailName" name="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

 {% endblock %}