{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container w-50 p-3 m-auto">
    <h1>This is Profile page</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <select class="form-select mb-2" aria-label="Default select example" name="select">
            <option selected>Open this select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type='submit' class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}