{% extends "base.html" %}

{% block content%}
{% load crispy_forms_tags %}
<div class="container w-50 p-5">
     {% csrf_token %}
    <form method="POST" action = "/about/">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="namelHelp" name = "name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}